

* {
    box-sizing: border-box;
    list-style: none;

}



html {

    // *,
    *:before,
    *:after {
        box-sizing: inherit;
        list-style: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;

}

p {
    margin: 0px;
}

body {
    background-image: url(../img/bgimg.png);
    margin: 0px;
    padding: 0px;
    position: relative;
    background-repeat: none;
}

// 資料區
.personal {
    width: 500px;
    height: 670px;
    background-color: #f5ece7d9;
    position: absolute;
    // display: flex;
    right: 10%;
    margin: 4rem -5rem;

    h1 {
        margin: 40px 0 0 0;
        text-align-last: center;
        font-size: 48px;
    }

    .enter {
        position: relative;
        width: 250px;
        height: 40px;
        left: 20%;
        transform: translateX(-20%);
        margin: 30px 15% 0px;
        bottom: -50%;
        border: 2px solid rgb(138, 133, 133);
        border-radius: 10px;
        font-size: 25px;
    }
}

.name_box {
    position: relative;
    width: 400px;
    height: 30px;
    top: 5%;
    left: 23%;
    transform: translateX(-20%);
    margin: 10px;

    label {
        font-size: 35px;
    }

    input {
        max-width: 500px;
        width: 400px;
        height: 50px;
        border: 2px solid rgb(138, 133, 133);
        border-radius: 10px;
        font-size: 25px;
        padding: 15px;
    }
}

.phone_box {
    position: relative;
    width: 400px;
    height: 30px;
    top: 20%;
    left: 23%;
    transform: translateX(-20%);
    margin: 10px;

    label {
        font-size: 35px;
    }

    input {
        max-width: 500px;
        width: 400px;
        height: 50px;
        border: 2px solid rgb(138, 133, 133);
        border-radius: 10px;
        font-size: 25px;
        padding: 15px;
    }
}

.day_box {
    position: relative;
    width: 400px;
    height: 30px;
    top: 35%;
    left: 23%;
    transform: translateX(-20%);
    margin: 10px;

    label {
        font-size: 35px;
    }

    input {
        max-width: 500px;
        width: 400px;
        height: 50px;
        border: 2px solid rgb(138, 133, 133);
        border-radius: 10px;
        font-size: 25px;
        padding: 15px;
    }
}

@media (max-width:850px) {
    .personal {
        width: 500px;
        height: 670px;
        // background-color: azure;
        position: absolute;
        // display: flex;
        right: 30%;
        margin: 4rem -5rem;
    
        h1 {
            margin: 40px 0 0 0;
            text-align-last: center;
            font-size: 48px;
        }
    
        .enter {
            position: relative;
            width: 250px;
            height: 40px;
            left: 20%;
            transform: translateX(-20%);
            margin: 30px 15% 0px;
            bottom: -50%;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
        }
    }
    
    .name_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 5%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .phone_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 20%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .day_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 35%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
}
@media (max-width:725px) {
    .personal {
        width: 500px;
        height: 670px;
        // background-color: azure;
        position: absolute;
        // display: flex;
        right: 25%;
        margin: 4rem -5rem;
    
        h1 {
            margin: 40px 0 0 0;
            text-align-last: center;
            font-size: 48px;
        }
    
        .enter {
            position: relative;
            width: 250px;
            height: 40px;
            left: 20%;
            transform: translateX(-20%);
            margin: 30px 15% 0px;
            bottom: -50%;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
        }
    }
    
    .name_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 5%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .phone_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 20%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .day_box {
        position: relative;
        width: 400px;
        height: 30px;
        top: 35%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 400px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
}
@media (max-width:585px) {
    .personal {
        width: 400px;
        height: 670px;
        // background-color: azure;
        position: absolute;
        // display: flex;
        right: 20%;
        margin: 4rem -5rem;
    
        h1 {
            margin: 40px 0 0 0;
            text-align-last: center;
            font-size: 48px;
        }
    
        .enter {
            position: relative;
            width: 250px;
            height: 40px;
            left: 15%;
            transform: translateX(-20%);
            margin: 30px 15% 0px;
            bottom: -50%;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
        }
    }
    
    .name_box {
        position: relative;
        width: 340px;
        height: 30px;
        top: 5%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 340px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .phone_box {
        position: relative;
        width: 340px;
        height: 30px;
        top: 20%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 340px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .day_box {
        position: relative;
        width: 340px;
        height: 30px;
        top: 35%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 340px;
            height: 50px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
}
@media (max-width:420px) {
    .personal {
        width: 350px;
        height: 600px;
        background-color: #f5ece7d9;
        position: absolute;
        // display: flex;
        right: 25%;
        margin: 4rem -5rem;
    
        h1 {
            margin: 40px 0 0 0;
            text-align-last: center;
            font-size: 48px;
        }
    
        .enter {
            position: relative;
            width: 250px;
            height: 40px;
            left: 15%;
            transform: translateX(-20%);
            margin: 0px 15% 0px;
            bottom: -50%;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
        }
    }
    
    .name_box {
        position: relative;
        width: 280px;
        height: 30px;
        top: 5%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 280px;
            height: 40px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .phone_box {
        position: relative;
        width: 280px;
        height: 30px;
        top: 20%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 280px;
            height: 40px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
    
    .day_box {
        position: relative;
        width: 280px;
        height: 30px;
        top: 35%;
        left: 23%;
        transform: translateX(-20%);
        margin: 10px;
    
        label {
            font-size: 35px;
        }
    
        input {
            max-width: 500px;
            width: 280px;
            height: 40px;
            border: 2px solid rgb(138, 133, 133);
            border-radius: 10px;
            font-size: 25px;
            padding: 15px;
        }
    }
}